### ***Tipos de variables***



**Variables Basicas**

In [4]:
#almacenando valor
# entrero
a = 10

#flotante
b = 10.5
#Cadena
c = "hola"
#boelano
d = True



print( "el valor de a es:", type(a))
#formato de impresion f -string
print(f"el valor de b es: {b} y su tipo de datos es: {type(b) }" )
#3. formato de impresion usando format
print("el valor de b es: {} y su tipo de datos es:  {}".format(c, type(c)))

el valor de a es: <class 'int'>
el valor de b es: 10.5 y su tipo de datos es: <class 'float'>
el valor de b es: hola y su tipo de datos es:  <class 'str'>

## **Variables que almacenan multiples valores**

In [3]:
# listas
lista = [1, 2, 3, 4, 5]
print(f"los valores de la lista : {lista}")
print(f"el tipo de dato de la lista es: {type(lista)}")

los valores de la lista : [1, 2, 3, 4, 5]
el tipo de dato de la lista es: <class 'list'>

# Variables que numeran otras listas

In [2]:
# Tuplas
A = [1, 2, 3, 4, 5]
print(f"los valores de la Tupla : {A}")
print(f"el tipo de dato de la Tupla es: {type(A)}")

los valores de la Tupla : [1, 2, 3, 4, 5]
el tipo de dato de la Tupla es: <class 'list'>

In [1]:
#dataframe
#importando libreria pandas
import pandas as pd


# dICCIONARIOS
dicciionario = {
    #clave : valor
    "nombre" : ["juan","pedro", "maria"],
    "edad" : [30, 23, 17],
    "altura" : [1.74, 1.56, 1.99],
    "peso" : [70, 60, 80],
    "deudas" : [True, False, True],
    "ciudad" : ["bogota", "medellin", "cali"]
}

tabla = pd.DataFrame(dicciionario)
print(tabla)

print(f"los valores de la lista : {dicciionario}")
print(f"el tipo de dato de la lista es: {type(dicciionario)}")

  nombre  edad  altura  peso  deudas    ciudad
0   juan    30    1.74    70    True    bogota
1  pedro    23    1.56    60   False  medellin
2  maria    17    1.99    80    True      cali
los valores de la lista : {'nombre': ['juan', 'pedro', 'maria'], 'edad': [30, 23, 17], 'altura': [1.74, 1.56, 1.99], 'peso': [70, 60, 80], 'deudas': [True, False, True], 'ciudad': ['bogota', 'medellin', 'cali']}
el tipo de dato de la lista es: <class 'dict'>